@import '~antd/dist/antd.css';

.ant-layout-header{position: fixed;z-index: 1;width: 100%;padding:0 15px;}
.ant-layout-header h2{color:#FFF;line-height: 64px;margin:0;padding:0;float:left;}
.ant-layout-header .ant-tag{float:left;margin:23px 0 0 10px}

.content{margin-top:64px;padding:20px 15px;height: calc(100vh - 64px - 65px);}
.content > * {height: 100%;}

.footer{text-align: center;font-size: 0.8em;color:#999;}

@media screen and (min-width: 768px) {
  .ant-layout-header{padding:0 30px}
  .content{padding:20px 30px;}
}

@media screen and (min-width: 996px) {

}

@media screen and (min-width: 1240px) {
  .ant-layout-header{padding:0 50px}
  .content{padding:20px 50px;}
}