@import '~antd/dist/antd.css';

.ant-layout-header{position: fixed;z-index: 1;width: 100%;padding:0 15px;}
.ant-layout-header h3{color:#FFF;margin:0;padding:0;float:left;line-height: 64px;font-size:14px;}
.ant-layout-header .ant-tag{float:right;margin-top: 20px;}

.content{margin-top:64px;padding:20px 15px;min-height: calc(100vh - 64px - 65px);}
.content > * {height: 100%;}

.footer{text-align: center;font-size: 0.8em;color:#999;}

.card-ribbon{font-size:11px;display: none;}

.ant-timeline{margin-top:20px;}
.ant-timeline-item.ant-timeline-item-last{padding-bottom:0;}
.mobile-block{display: block;}

.ant-timeline .ant-tag{cursor: pointer;}

@media screen and (min-width: 768px) {
  .ant-layout-header h3{font-size:24px;}
  .ant-layout-header{padding:0 30px}
  .content{padding:20px 30px;}

  .card-ribbon{display: block;}
  .mobile-block{display: inline-block;}
  .mobile-block.margin-left{margin-left:8px;}
}

@media screen and (min-width: 996px) {
  
}

@media screen and (min-width: 1240px) {
  .ant-layout-header{padding:0 50px}
  .content{padding:20px 50px;}
}